.textarea {
  height: calc(100% - 20px);
  padding: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #232323;
  line-height: 22px;
  -webkit-user-select: text;
  user-select: text;
  outline: none;
}
