.container {
  border-bottom: #E1E1E1 solid 1px;
  position: relative;
}

.item {
  font-family: 'Lato', sans-serif;
  color: #232323;
  font-size: 16px;
  line-height: 18px;
  min-height: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
